services:
  traefik:
    image: traefik:v3.1
    restart: always
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.httpchallenge=true"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.le.acme.email={{ gitlab_email }}"
      - "--certificatesresolvers.le.acme.storage=/acme/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./config/traefik/traefik.yml:/etc/traefik/traefik.yml"
      - "./data/traefik/acme:/acme"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  gitlab:
    image: gitlab/gitlab-ce:latest
    hostname: "{{ gitlab_domain }}"
    restart: always
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url "https://{{ gitlab_domain }}"
        gitlab_rails['gitlab_shell_ssh_port'] = 22
    ports:
      - "22:22"
    volumes:
      - "./config/gitlab:/etc/gitlab"
      - "./data/gitlab:/var/opt/gitlab"
      - "./data/gitlab/logs:/var/log/gitlab"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`{{ gitlab_domain }}`)"
      - "traefik.http.routers.gitlab.entrypoints=websecure"
      - "traefik.http.routers.gitlab.tls.certresolver=le"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"
